<ul>
  <% bookmarks.each do |bookmark| %>
    <li><a href=<%= bookmark.url %>><%= bookmark.title %></li>
  <% end %>
</ul>
<form method='get' action='/new'>
<input value="New" type="submit"></input>
</form>
