<form method='post' action='/new'>
<label for='url'>URL</label>
<input type='text' id='url' name='url'></input>
<label for='title'>TITLE</label>
<input type='text' id='title' name='title'></input>
<input type='submit' value='Submit'></input>
</form>
