<form method='post' action='/update?name=<%=name%>'>
<label for='url'>URL</label>
<input type='text'name='url'id='url'/>
<label for='title'>TITLE</label>
<input type='text'name='title'id='title'/>
<input type='submit'value='Apply changes'/>
</form>
